<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SC2MapEdtiorXeX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <SC2MapEdtiorXeX.Properties.Settings>
            <setting name="Module2_Otvet0" serializeAs="String">
                <value>Создаем новый триггер.
В нем создаем событие Chat Message. 
Создав его, мы видим параметры, которое может принимать это событие.
Далее где Text: вписываете команду, на которую будет срабатывать триггер.
Далее создаем локальную переменную, называем ее Units
(название может быть любым) и указываем ей тип "группа единиц".
Далее создаем действие Set Varialbe.
Где Varible, указываем свою переменную Units.
Где Value, указываем: функция - Selected Units.
Где Player, указываем Triggering Player.
Далее создаем действие Pick Each Unit In Unit Group.
Где Unit Group, указываем нашу переменную Units.
Далее тут же создаем действие If Then Else.
Где if создаем новый элемент(по умолчанию сравнение). 
Где Value 1: Owner of Unit есть параметр Unit. В него указываем Picked Unit.
Где Value 2: Меняем на Triggering Player.
Далее в Then создаем действие Kill Unit.
Triggering Unit меняем на Picked Unit.
Готово. Триггер на убийство юнитов при вводе команды чат готов.</value>
            </setting>
            <setting name="Module3_Vopros0" serializeAs="String">
                <value>Как изменить цвет юнита?</value>
            </setting>
            <setting name="Module3_Vopros1" serializeAs="String">
                <value>Как сделать чтобы за убийство давались ресурсы?</value>
            </setting>
            <setting name="Module3_Otvet1" serializeAs="String">
                <value>Открыв вкладку "Единицы" найдите там юнита, за убийство которого будут даваться ресурсы.
Найдите поле "Уничтожить ресурс+" и открыв его, вы можете указать до 4х разных ресурсов.
Указывайте нужно количество и жмите ок.
Готово.</value>
            </setting>
            <setting name="Module3_Otvet0" serializeAs="String">
                <value>Найдите юнита, которому вы хотите изменить цвет.
Откройте его Агент (Рисунок 1) и найдите поле "События+". (Рисунок 2)
Открыв события, нажмите ПКМ в любом свободном месте.
Из появившегося списка выберите "Добавить событие". (Рисунок 3)
Будет создано событие с прикрепленным к нему действием. (Рисунок 4)
Тип сообщения меняете на "Создание агента".
Далее выбираем действие и меняем его на "Задать оттенок".
В конце можно будет наглядно увидеть разницу между двумя юнитами.
Все параметры оставляете без изменений и указываете только нужный цвет и жмете ок.
После снова нажимаете ок и все готово. (Рисунок 8)
Рисунок 9 - Вид из редактора.
Рисунок 10 - Вид из игры.</value>
            </setting>
            <setting name="Module2_Vopros0" serializeAs="String">
                <value>Как сделать убийство выбранного юнита при вводе команды в чат?</value>
            </setting>
            <setting name="Module2_Vopros1" serializeAs="String">
                <value>Какой ивент в триггерах делает что-бы после наступления определенного времени происходило какое-нибудь действие?</value>
            </setting>
            <setting name="Module2_Otvet1" serializeAs="String">
                <value>adasdasdad</value>
            </setting>
            <setting name="Module2_Vopros2" serializeAs="String">
                <value>Как сделать подъем и спад лавы? + урон от лавы</value>
            </setting>
            <setting name="Module2_Otvet2" serializeAs="String">
                <value>Создадим простой рельеф для поднятия лавы (Рисунок 1)
Добавим лаву (Рисунок 2)
Откроем настройки воды (Рисунок 3)
Добавим новое состояние воды и сделаем цвет такой же как в "По умолчанию" 
Так же укажем нужну нам высоту для поднятой лавы. (Рисунок 4)
Зайдем в триггеры и создадим триггер, отвечающий за подъем и спад лавы. (Рисунок 5)
Создадим событие Pereodic Event и укажем время, через которое будет подниматься лава. (Рисунок 6)
Создадим устловие (If) (Рисунок 7)
Создадим глобальную переменную Lava Up/Down с типом "Булево" (Рисунок 8)
В условии будем проверять эту переменную со значением False (Рисунок 9)
В then создадим действие Play Sound и укажем туда звук TUIlavaRising (Рисунок 10)
Создадим действие Set Water State (Рисунок 11)
Где state укажем созданное ранее состояние воды (Рисунок 12)
Где over 1.0 secodns укажем 4 сек.
Далее создадим действие Wait для того, чтобы лава чисто визуально поднялась до нужного уровня,
ниже которого юниты будут получать урон. (Рисунок 13)
Далее создадим действие Turn Trigger On/Off
Где Off меняем на On
Current Trigger пока оставляем как есть (Рисунок 14)
После создадим действие Set Variable 
Где Variable укажем нашу переменную "Lava"
Где Value укажем "Истина" (Рисунок 15)

Теперь в Else скопируем действия:
Play Sound + Set Water State + Wait + Trigger On/Off + Set Variable (Рисунок 16)
Двух секундную задержку в действии Wait меняем на 1.5 сек.
В Set Variable "Истина" меняем на "Ложь", просто убрав галку(Рисунок 17)
В Set Water State меняем состояние на "По умолчанию" (Рисунок 18)
В Trigger On/Off параметр "On" меняем на "Off" (Рисунок 19)

Дальше нужно создать триггер, который будет наносить урон юнитам в лаве
Создадим триггер Lava Damage
Нажимаем на него ПКМ и убираем галку "Изначально включен" (Рисунок 20)
Добавим в него событие "Periodic Event" и установим параметр "Duration" на значение "0.5" (Рисунок 21)
Далее в условии триггера добавим условие(просто crtl + w + enter)
Где Value 1 укажем "Trigger Is On"
Где Value 2 укажем "Истина" (Рисунок 22)
Далее в действиях создаем "Pick Each Unit In Unit Group"(Рисунок 23)
Параметр Unit Group меняем на "Units In Unit group Matching Condition" (Рисунок 24)
Где Unit Filter открываем и двойным кликом меняем "Тип" "Воздушный" и "Неуязвимый" на "Исключено"
Так же снимаем галки "Союзник" и "Противник" (Рисунок 25)
Далее в Actions создаем проверку (If) (Рисунок 26)
Где If создадим устловие. В этом в условии:
Где Value 1 поменяем на Height At Point (Рисунок 27)
Где Unit меняем на Picked Unit (Рисунок 28)
Где Operator меняем на &lt;= (Меньше или равно)
Где Value 2 указываем значение, которое чуть меньше чем высота поднятой лавы. (Рисунок 29)
Это нужно для того, чтобы юниты получали урон зайдя в лаву, а не приблизившись к ней.
Далее в Then добавим действие Add Behavior (Player) (Рисунок 30)
Где Behavior укажем "Лава (урон)" (Рисунок 31)
Где Unit укажем Picked Unit (Рисунок 32)
Где Player укажем 15
Триггер на получение урона готов. (Рисунок 33)

Теперь нужно вернуться в триггер, который поднимает и опускает лаву.
В нем в обоих Trigger On/Off, где "Current Trigger" меняем на наш триггер получения урона.
(Рисунок 34)

Готово.</value>
            </setting>
        </SC2MapEdtiorXeX.Properties.Settings>
    </applicationSettings>
</configuration>