<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SC2MapEdtiorXeX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SC2MapEdtiorXeX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <SC2MapEdtiorXeX.Properties.Settings>
            <setting name="Module2_Q0" serializeAs="String">
                <value>Создаем новый триггер.
В нем создаем событие Chat Message. 
Создав его, мы видим параметры, которое может принимать это событие.
Далее где Text: вписываете команду, на которую будет срабатывать триггер.
Далее создаем локальную переменную, называем ее Units
(название может быть любым) и указываем ей тип "группа единиц".
Далее создаем действие Set Varialbe.
Где Varible, указываем свою переменную Units.
Где Value, указываем: функция - Selected Units.
Где Player, указываем Triggering Player.
Далее создаем действие Pick Each Unit In Unit Group.
Где Unit Group, указываем нашу переменную Units.
Далее тут же создаем действие If Then Else.
Где if создаем новый элемент(по умолчанию сравнение). 
Где Value 1: Owner of Unit есть параметр Unit. В него указываем Picked Unit.
Где Value 2: Меняем на Triggering Player.
Далее в Then создаем действие Kill Unit.
Triggering Unit меняем на Picked Unit.
Готово. Триггер на убийство юнитов при вводе команды чат готов.</value>
            </setting>
            <setting name="Module3_Q_Type1" serializeAs="String">
                <value>Как изменить цвет юнита?</value>
            </setting>
            <setting name="Module3_Q_Type2" serializeAs="String">
                <value>Как сделать чтобы за убийство давались ресурсы?</value>
            </setting>
            <setting name="Module3_Q1" serializeAs="String">
                <value>Открыв вкладку "Единицы" найдите там юнита, за убийство которого будут даваться ресурсы.
Найдите поле "Уничтожить ресурс+" и открыв его, вы можете указать до 4х разных ресурсов.
Указывайте нужно количество и жмите ок.
Готово.</value>
            </setting>
            <setting name="Module3_Q0" serializeAs="String">
                <value>Найдите юнита, которому вы хотите изменить цвет.
Откройте его Агент (Рисунок 1) и найдите поле "События+". (Рисунок 2)
Открыв события, нажмите ПКМ в любом свободном месте.
Из появившегося списка выберите "Добавить событие". (Рисунок 3)
Будет создано событие с прикрепленным к нему действием. (Рисунок 4)
Тип сообщения меняете на "Создание агента".
Далее выбираем действие и меняем его на "Задать оттенок".
В конце можно будет наглядно увидеть разницу между двумя юнитами.
Все параметры оставляете без изменений и указываете только нужный цвет и жмете ок.
После снова нажимаете ок и все готово. (Рисунок 8)
Рисунок 9 - Вид из редактора.
Рисунок 10 - Вид из игры.</value>
            </setting>
            <setting name="Module2_Q_Type1" serializeAs="String">
                <value>Как сделать убийство выбранного юнита при вводе команды в чат?</value>
            </setting>
            <setting name="Module2_Q_Type2" serializeAs="String">
                <value>Какой ивент в триггерах делает что-бы после наступления определенного времени происходило какое-нибудь действие?</value>
            </setting>
        </SC2MapEdtiorXeX.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SC2MapEdtiorXeX.Properties.Settings>
            <setting name="Module2_Q1" serializeAs="String">
                <value>adasdasdad</value>
            </setting>
        </SC2MapEdtiorXeX.Properties.Settings>
    </userSettings>
</configuration>